 <section>
       <hr>
<div class="is-this-helpful-box-bottom">Was this page helpful?<a class="btn feedback-btn-outline-primary feedback-btn-sm" href="#modal-1" role="button" data-modal-open>Give us feedback!</a></div>
      <div id="modal-1" style="display:none">
            <iframe src="https://www.getfeedback.com/e/IQWISvVi"></iframe>
          </div>
      <div class="modal">
        <div class="modal-inner">
          <a data-modal-close>&times;</a>
          <div class="modal-content"></div>
        </div>
      </div>
  </section>
